<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Projekt Caritas</h1>
    <mat-form-field id="userSelect">
        <mat-select placeholder="Odaberi korisnika">
          <mat-option >
            Djelatnik (master)
          </mat-option>
          <mat-option>
            Djelatnik (basic)
          </mat-option>
        </mat-select>
      </mat-form-field>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>


        <a mat-list-item>Korisnici </a>
        <a mat-list-item>Smještaj </a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>