<!-- <div (selectedIndexChange)="_setDataSource($event)">
<div class="filtering">
  <mat-form-field>
    <input matInput (keyup)="applyFilterSmjestaj($event.target.value)" placeholder="Pretraži">
  </mat-form-field>
</div>
<button mat-stroked-button color="primary">+  Dodaj smještaj</button>

<table mat-table [dataSource]="dataSourceSmjestaj" class="mat-elevation-z8" #sort1="matSort" matSort>
      <ng-container matColumnDef="naziv">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv </th>
        <td mat-cell *matCellDef="let elementSmjestaj"> {{elementSmjestaj.naziv}} </td>
      </ng-container>
    
      <ng-container matColumnDef="adresa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Adresa </th>
        <td mat-cell *matCellDef="let elementSmjestaj"> {{elementSmjestaj.adresa}} </td>
      </ng-container>
    
      <ng-container matColumnDef="opis">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Opis </th>
        <td mat-cell *matCellDef="let elementSmjestaj"> {{elementSmjestaj.opis}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsSmjestaj"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsSmjestaj;"></tr>
</table>
<mat-paginator #paginator1 [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>

<div class="filtering">
  <mat-form-field>
    <input matInput (keyup)="applyFilterSoba($event.target.value)" placeholder="Pretraži">
  </mat-form-field>
</div>
<button mat-stroked-button color="primary">+  Dodaj sobu</button>

<table mat-table [dataSource]="dataSourceSoba" class="mat-elevation-z8" #sort2="matSort" matSort>
      <ng-container matColumnDef="nazivSobe">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv Sobe </th>
        <td mat-cell *matCellDef="let elementSoba"> {{elementSoba.nazivSobe}} </td>
      </ng-container>
    
      <ng-container matColumnDef="opisSobe">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Opis </th>
        <td mat-cell *matCellDef="let elementSoba"> {{elementSoba.opisSobe}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumnsSoba"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsSoba;"></tr>
</table>
<mat-paginator #paginator2 [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>

<div class="filtering">
  <mat-form-field>
    <input matInput (keyup)="applyFilterKrevet($event.target.value)" placeholder="Pretraži">
  </mat-form-field>
</div>
<button mat-stroked-button color="primary">+  Krevet</button>
<table mat-table [dataSource]="dataSourceKrevet" class="mat-elevation-z8" #sort3="matSort" matSort>
      <ng-container matColumnDef="vrstaKrevet">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv Sobe </th>
        <td mat-cell *matCellDef="let elementKrevet"> {{elementKrevet.vrstaKrevet}} </td>
      </ng-container>
    
      <ng-container matColumnDef="opisKrevet">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Opis </th>
        <td mat-cell *matCellDef="let elementKrevet"> {{elementKrevet.opisKrevet}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumnsKrevet"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsKrevet;"></tr>
</table>
<mat-paginator #paginator3 [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
</div> -->



<div class="example-table-container mat-elevation-z8">

  <table mat-table [dataSource]="accommodations" class="example-table" matSort matSort (matSortChange)="sortData($event)"
    [matSortActive]="sortActive" [matSortDirection]="sortDirection">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Broj smještaja</th>
      <td mat-cell *matCellDef="let acc">{{acc.id}}</td>
    </ng-container>
    <ng-container matColumnDef="accommodationName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ime smještaja</th>
      <td mat-cell *matCellDef="let acc">{{acc.accommodationName}}</td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Adresa</th>
      <td mat-cell *matCellDef="let acc">{{acc.address}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Opis</th>
      <td mat-cell *matCellDef="let acc">{{acc.description}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumnsAcc"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsAcc;"></tr>
  </table>
</div>
  <mat-paginator></mat-paginator>


  <div class="example-table-container mat-elevation-z8">

      <table mat-table [dataSource]="rooms" class="example-table" matSort matSort (matSortChange)="sortData($event)"
        [matSortActive]="sortActive" [matSortDirection]="sortDirection">
    
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Broj Sobe</th>
          <td mat-cell *matCellDef="let room">{{room.id}}</td>
        </ng-container>
        <ng-container matColumnDef="roomName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ime smještaja</th>
          <td mat-cell *matCellDef="let room">{{room.roomName}}</td>
        </ng-container>
    
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Opis</th>
          <td mat-cell *matCellDef="let room">{{room.description}}</td>
        </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumnsRoom"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsRoom;"></tr>
      </table>
    </div>
      <mat-paginator></mat-paginator>
    
      <div class="example-table-container mat-elevation-z8">
    
          <table mat-table [dataSource]="beds" class="example-table" matSort matSort (matSortChange)="sortData($event)"
            [matSortActive]="sortActive" [matSortDirection]="sortDirection">
        
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Broj Kreveta</th>
              <td mat-cell *matCellDef="let bed">{{bed.id}}</td>
            </ng-container>
            <ng-container matColumnDef="bedName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Ime kreveta</th>
              <td mat-cell *matCellDef="let bed">{{bed.bedName}}</td>
            </ng-container>
        
            
        
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Opis </th>
              <td mat-cell *matCellDef="let bed">{{bed.description}}</td>
            </ng-container>
        
        
            <tr mat-header-row *matHeaderRowDef="displayedColumnsBed"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsBed;"></tr>
          </table>
        
          <mat-paginator></mat-paginator>